

{{ define "main" }}


<div id="page-wrapper">

	<!-- Header-->
	{{ partial "header" . }}  

	<!-- Features -->
		<section id="features">
			<div class="container">
				<header>
					<h2>Výběr podle fotek...  <strong>Galerie</strong></h2>
				</header>
				<div class="row aln-center">

					<!-- ranges through content in ascending order according to the "title" field set in front matter -->
					
					{{ $paginator := .Paginate (where .Site.Pages "Type" "recepty") 9 }}
					{{ range $paginator.Pages }}
						
						<div class="col-4 col-6-medium col-12-small">
							<a href="{{ .Permalink }}" class="image fit"><img src="{{ .Params.Imgsrc }}" alt="{{ .Params.Imgname }}" /></a>
						</div>
					
						{{ end }}

					<div class="col-12">
						<!-- tempelate pro strankovani -->
						{{ partial "pagination.html" . }}
					</div>
				</div>
			</div>
		</section>

	<pre>
</pre>



		<!-- Footer section-->
		{{ partial "footer" . }}  
</div>

{{ end }}

			
